<div class="namegame-cards">
  <app-namegame-card class="namegame-cards__left-card" [rotateLeft]="true">
    <img class="namegame-cards__left-image" src="assets/images/talk-image.svg" alt="question guess image">
    <div class="namegame-cards__left-subtitle">Name Quiz</div>
  </app-namegame-card>
  <app-namegame-card [rotateRight]="true">
    <app-namegame-card-trivia>
      <div class="namegame-cards__left-subtitle">Trivia Quiz</div>
    </app-namegame-card-trivia>
  </app-namegame-card>
</div>
