.namegame-cards
  display: flex
  &__left-card
    margin-right: 65px

  &__left-image
    max-width: 269px
    max-height: 247px
    padding: 17px 15px 0 10px

  &__left-subtitle
    font-family: 'Poppins', sans-serif
    font-weight: 600
    font-size: 29px
    line-height: 26px
    text-align: center
    color: #000000
    margin-top: 20px

