<div class="namegame-more-info-page">
  <app-namegame-header></app-namegame-header>
  <div class="namegame-more-info-page__content">
    <app-namegame-title class="namegame-more-info-page__title"
      [class.namegame-more-info-page__title--submitted]="submittedEmail"
      [title]="'You caught us early.'"
      [subTitle]="'Get notified to be among the first to play.'"
      [enableForm]="true"
      (submittedFormValue)="sendEmail($event)">
    </app-namegame-title>
    <app-namegame-cards class="namegame-more-info-page__cards"></app-namegame-cards>
  </div>
</div>
<app-namegame-footer class="namegame-more-info-page__footer"></app-namegame-footer>
