<div class="namegame-trivia-page">
  <div class="namegame-trivia-page__content">
    <app-namegame-title class="namegame-trivia-page__title"
      [title]="'Learn company trivia the fun way.'"
      [subTitle]="'Become the go to person for all the important and not so important facts about your workplace.'"
      [buttonTitle]="'Try Now!'">
    </app-namegame-title>
    <div class="namegame-trivia-page__cards">
      <img class="namegame-trivia-page__question-image" src="assets/images/trivia-question.svg" alt="input name card">
      <img class="namegame-trivia-page__arrow" src="assets/images/right-arrow.svg" alt="right arrow">
      <img class="namegame-trivia-page__answer-image" src="assets/images/trivia-answer.svg" alt="solutions name card">
    </div>
  </div>
</div>
