.namegame-title
  max-width: 515px
  font-family: 'Inter', sans-serif
  &__main-title
    font-weight: 700
    font-size: 56px
    line-height: 66px
    color: #0A093D

  &__subtitle
    margin-top: 37px
    font-size: 22px
    line-height: 28px
    color: #656464

  &__action-button
    margin-top: 37px
    background: #FFAF2E
    border: none
    box-shadow: 0 8.58065px 26.9677px -7.35484px rgba(33, 123, 244, 0.34)
    border-radius: 17.1613px
    font-weight: 600
    font-size: 19.6129px
    line-height: 17px
    padding: 29px 57px
