.namegame-title
  max-width: 515px
  font-family: 'Inter', sans-serif
  &--right-margin
    margin-right: 100px
  @media (max-width: 1315px)
    max-width: initial
    margin-right: initial
    text-align: center
  &__main-title
    font-weight: 700
    font-size: 56px
    line-height: 66px
    color: #0A093D
    @media (max-width: 800px)
      font-size: 44px
      line-height: 62px

  &__subtitle
    margin-top: 37px
    font-size: 22px
    line-height: 32px
    color: #656464
    @media (max-width: 800px)
      font-size: 20px

  &__action-button
    margin-top: 37px
    border: none
    box-shadow: 0 9px 27px -7px rgba(33, 123, 244, 0.34)
    border-radius: 17px
    font-weight: 600
    font-size: 19px
    line-height: 17px
    padding: 29px 57px
    cursor: pointer

    &--orange
      background: #FFAF2E
      color: black
    &--blue
      background: #217BF4
      color: white

  &__success-title
    text-align: center

  &__success-icon-wrapper
    margin-top: 40px
    display: flex
    justify-content: center
    animation: zoom-in-zoom-out 3s ease infinite

@keyframes zoom-in-zoom-out
  0%
    transform: scale(1, 1)
  50%
    transform: scale(1.3, 1.3)
  100%
    transform: scale(1, 1)
