.namegame-form
  margin-top: 40px
  border-radius: 12px
  display: flex
  flex-direction: column
  max-width: 428px
  @media (max-width: 1300px)
    margin-left: auto
    margin-right: auto
  @media (max-width: 500px)
    max-width: initial

  &__input
    padding: 15px 10px
    font-size: 20px
    border: 1px solid #217BF4
    outline: none
    margin-bottom: 10px
    &--invalid
      border-color: red
    @media (max-width: 500px)
      font-size: 15px
      padding-left: 15px
      padding-right: 5px

  &__action-button
    border: none
    box-shadow: 0 9px 27px -7px rgba(33, 123, 244, 0.34)
    border-radius: 0 0 10px 10px
    font-weight: 600
    font-size: 14px
    line-height: 14px
    padding: 22px
    cursor: pointer
    &--blue
      background: #056cf3
      color: white
    &--disabled
      cursor: initial
