<div class="namegame-form">
  <input class="namegame-form__input"
    [class.namegame-form__input--invalid]="nameField.touched && nameField.invalid"
    id="name"
    type="text"
    placeholder="Your Name"
    [formControl]="nameField">
  <input class="namegame-form__input"
    [class.namegame-form__input--invalid]="emailField.touched && emailField.invalid"
    id="email"
    type="email"
    placeholder="Your Email"
    [formControl]="emailField">
  <button class="namegame-form__action-button namegame-form__action-button--blue"
   [class.namegame-form__action-button--disabled]="emailField.invalid || nameField.invalid"
   [disabled]="emailField.invalid || nameField.invalid"
   (click)="onSubmitClick()"
  >Sign Up Now</button>
</div>
