<div class="namegame-card-trivia">
  <div class="namegame-card-trivia__title-container">
    <div class="namegame-card-trivia__title">Who founded our company?</div>
  </div>
  <div class="namegame-card-trivia__button-container">
    <div class="namegame-card-trivia__button">Phil and Max</div>
    <div class="namegame-card-trivia__button">Max and Eric</div>
    <div class="namegame-card-trivia__button">Esther, Phil, Max</div>
    <div class="namegame-card-trivia__button">Max, Esther, Eric</div>
  </div>
  <ng-content></ng-content>
</div>
