<div class="namegame-coworkers-page">
  <div class="namegame-coworkers-page__content">
    <div class="namegame-coworkers-page__cards">
      <img class="namegame-coworkers-page__image" src="assets/images/input-card-annie.svg" alt="input name card">
      <img class="namegame-coworkers-page__arrow" src="assets/images/right-arrow.svg" alt="right arrow">
      <img class="namegame-coworkers-page__image" src="assets/images/solutions-card-annie.svg" alt="solutions name card">
    </div>
    <app-namegame-title class="namegame-coworkers-page__title"
      [title]="'Learn your coworkers names.'"
      [subTitle]="'Learn your coworkers names and job titles and instantly become part of the team.'"
      [buttonTitle]="'Learn More!'"
      [buttonType]="'blue'">
    </app-namegame-title>
  </div>
</div>
